body{
    background-color: rgb(6, 18, 63);
    color: rgb(245, 249, 253);
}
.para{
    font-size: 100px;
    margin-left: 435px;
    font-family:'Bungee Hairline', cursive;;
}
.numb1{
    margin: 10px;
    width: 180px;
    height: 45px;
    border-radius: 15px;
    padding-left: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
}
.numb2{
    margin: 10px;
    width: 180px;
    height: 45px;
    border-radius: 15px;
    padding-left: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
    
}
#nume{
    margin: 10px;
    width: 55px;
    height: 45px;
    border-radius: 15px;
    padding-left: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
    
}
.butcalc{
    margin: 10px;
    width: 180px;
    height: 45px;
    border-radius: 15px;
    padding-left: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 27px;
    padding-right: 16px;
    
}
.butclear{
    margin: 10px;
    width: 180px;
    height: 45px;
    border-radius: 15px;
    padding-left: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 27px;
    padding-right: 16px; 
}
.butup{
    margin: 10px;
    width: 180px;
    height: 45px;
    border-radius: 15px;
    padding-left: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 27px;
    padding-right: 16px;
}
.calcoperation{
    margin-left: 505px;
    margin-bottom: 10px;
    margin-top: -75px;
}
.caloper{
    margin-left: 465px;
}
.screendiv{

    width: 199px;
    height: 100px;
    border-radius: 15px;
    margin-left: -10px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 27px;
    color: black;
    pointer-events: none;

}
#screen{
    margin: 10px;
    width: 180px;
    height: 100px;
    border-radius: 15px;
    padding-left: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 27px;
    padding-right: 16px;
    color: black;
    margin-left: 665px;
    background-color: white;
    text-align: center;

}